<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.superzhc.web.mapper.MpdemoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.superzhc.web.model.Mpdemo">
        <id column="id" property="id" />
        <result column="col" property="col" />
        <result column="d1" property="d1" />
        <result column="blobcol" property="blobcol" />
        <result column="dt" property="dt" />
        <result column="col2" property="col2" />
        <result column="col3" property="col3" />
        <result column="col4" property="col4" />
        <result column="col5" property="col5" />
        <result column="t1" property="t1" />
        <result column="t2" property="t2" />
    </resultMap>

</mapper>
