<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        新增数据源
    </title>
    <link rel="stylesheet" href="../layui/css/layui.css"
    />
</head>

<body>
<div id="ds" style="margin: 10px 20px;">
    <form class="layui-form" style="height:100%;" id="dsform">
        <div id="name" class="layui-form-item active" data-id="name" data-tag="input"
             data-index="0">
            <label class="layui-form-label layui-form-required">
                数据源名称:
            </label>
            <div class="layui-input-block">
                <input name="name" value="" placeholder="请输入数据源名称" class="layui-input"
                       lay-vertype="tips" lay-verify="required" style="width:100%">
            </div>
        </div>
        <div id="type" class="layui-form-item active" data-id="type" data-tag="select"
             data-index="1">
            <label class="layui-form-label layui-form-required">
                数据源类型:
            </label>
            <div class="layui-input-block layui-form" lay-filter="type">
                <select name="type" lay-verify="required" disabled>
                    <option value="com.github.superzhc.reader.executor.impl.JDBCExecutor"
                            selected="">
                        JDBC数据源
                    </option>
                </select>
            </div>
        </div>
        <div id="hbase.zookeepers" class="layui-form-item active" data-id="hbase.zookeepers" data-tag="input"
             data-index="2">
            <label class="layui-form-label layui-form-required">
                HBase-Zookeeper:
            </label>
            <div class="layui-input-block">
                <input name="hbase.zookeepers" value="" placeholder="请输入HBase的Zookeeper连接，多个用逗号隔开" class="layui-input"
                       lay-vertype="tips" lay-verify="required" style="width:100%">
            </div>
        </div>
        <div id="hbase.catalog" class="layui-form-item active" data-id="hbase.catalog" data-tag="input"
             data-index="3">
            <label class="layui-form-label layui-form-required">
                Catalog:
            </label>
            <div class="layui-input-block">
                <input name="hbase.catalog" value="" placeholder="请输入 Catalog" class="layui-input" lay-vertype="tips"
                       lay-verify="required" style="width:100%">
            </div>
        </div>
        <div id="hbase.coprocessor.url" class="layui-form-item active" data-id="hbase.coprocessor.url" data-tag="input"
             data-index="4">
            <label class="layui-form-label layui-form-required">
                协处理器:
            </label>
            <div class="layui-input-block">
                <input name="hbase.coprocessor.url" value="hdfs://datanode1:8020/hbase/lib/geomesa-hbase-distributed-runtime-hbase2_2.11-3.0.0.jar|org.locationtech.geomesa.hbase.server.coprocessor.GeoMesaCoprocessor|1073741823||org.locationtech.geomesa.hbase.server.coprocessor.GeoMesaCoprocessor|1073741823|"
                       placeholder="请输入用户名" class="layui-input" lay-vertype="tips" lay-verify="required" style="width:100%">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="btnds">
                    提交
                </button>
                <button type="reset" class="layui-btn layui-btn-primary">
                    重置
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="../layui/layui.js">
</script>
<script type="text/javascript" src="../js/config.js"></script>
<script>
    layui.use(["jquery", "layer", "form", "http", "selectDynamic","commonutil"],
        function () {
            var $ = layui.jquery,
                layer = layui.layer,
                form = layui.form,
                http = layui.http,
                selectDynamic = layui.selectDynamic
                ,objUtil=layui.commonutil.ObjectUtil
            ;

            selectDynamic.render({
                el: '[name="type"]'
                , data: [
                    //{"title": "JDBC 数据源", "value": "com.github.superzhc.reader.executor.impl.JDBCExecutor"}
                    {"title": "Geomesa 数据源", "value": "com.github.superzhc.reader.executor.impl.GeomesaExecutor"}
                    //,{"title":"","value":""}
                ]
            });

            form.on('submit(btnds)', function (data) {
                var obj = {
                    name: objUtil.getThenRemove(data.field,"name"),
                    type: objUtil.getThenRemove(data.field,"type")
                };
                obj.config = JSON.stringify(data.field);

                http.post("/datasourceconfig", obj);

                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
</script>
</body>

</html>