<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        新增数据服务
    </title>
    <link rel="stylesheet" href="../layui/css/layui.css"/>
</head>

<body>
<div id="testdemo" style="margin: 10px 20px;">
    <form class="layui-form" style="height:100%;" id="formPreviewForm">
        <div id="name" class="layui-form-item active" data-id="name" data-tag="input"
             data-index="0">
            <label class="layui-form-label layui-form-required">
                名称:
            </label>
            <div class="layui-input-block">
                <input name="name" value="" placeholder="请输入数据服务名称" class="layui-input"
                       lay-vertype="tips" lay-verify="required" style="width:100%">
            </div>
        </div>
        <div id="dsId" class="layui-form-item active" data-id="dsId" data-tag="select"
             data-index="1">
            <label class="layui-form-label layui-form-required">
                数据源:
            </label>
            <div class="layui-input-block layui-form" lay-filter="dsId">
                <select name="dsId" lay-verify="required">
                </select>
            </div>
        </div>
        <div id="path" class="layui-form-item active" data-id="path" data-tag="input"
             data-index="2">
            <label class="layui-form-label layui-form-required">
                路径:
            </label>
            <div class="layui-input-block">
                <input name="path" value="" placeholder="请输入数据服务路径，如 test/a" class="layui-input"
                       lay-vertype="tips" lay-verify="required" style="width:100%">
            </div>
        </div>
        <!--
        <div class="jdbc">
            <div id="sql" class="layui-form-item layui-form-text active" data-id="sql"
                 data-tag="textarea" data-index="3">
                <label class="layui-form-label layui-form-required">
                    SQL语句:
                </label>
                <div class="layui-input-block">
                    <textarea name="sql" width="100%" class="layui-textarea" lay-verify="required"></textarea>
                </div>
            </div>
        </div>
        -->
        <div class="geomesa">
            <div id="schema" class="layui-form-item active" data-id="schema" data-tag="input"
                 data-index="3">
                <label class="layui-form-label layui-form-required">
                    表名:
                </label>
                <div class="layui-input-block">
                    <input name="schema" value="" placeholder="请输入表名" class="layui-input"
                           lay-vertype="tips" lay-verify="required" style="width:100%">
                </div>
            </div>
            <div id="fields" class="layui-form-item active" data-id="fields" data-tag="input"
                 data-index="6">
                <label class="layui-form-label">
                    字段:
                </label>
                <div class="layui-input-block">
                    <input name="fields" value="" placeholder="请输入字段，如果获取所有字段，直接为空即可" class="layui-input"
                           lay-vertype="tips" style="width:100%">
                </div>
            </div>
            <div id="ecql" class="layui-form-item active" data-id="ecql" data-tag="input"
                 data-index="4">
                <label class="layui-form-label layui-form-required">
                    ECQL:
                </label>
                <div class="layui-input-block">
                    <textarea name="ecql" width="100%" value="" placeholder="请输入ECQL语句" class="layui-textarea" lay-verify="required"></textarea>
                </div>
            </div>
            <div class="layui-form-item active" id="sort" data_id="sort" data-tag="input" data-index="5">
                <label class="layui-form-label">排序:</label>
                <div class="layui-input-inline" style="margin-right: 0px;">
                    <input type="text" name="sortField" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="width: 6%;">
                    <select name="sortOrder">
                        <option value="ASC" selected="">升序</option>
                        <option value="DESC"> 降序</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="btnSave">
                    提交
                </button>
                <button type="reset" class="layui-btn layui-btn-primary">
                    重置
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="../layui/layui.js">
</script>
<script type="text/javascript" src="../js/config.js"></script>
<script>
    layui.use(["layer", "form", "http", "selectDynamic", "commonutil"],
        function () {
            var $ = layui.jquery,
                layer = layui.layer,
                form = layui.form
                , http = layui.http
                , selectDynamic = layui.selectDynamic
                , objUtil = layui.commonutil.ObjectUtil
            ;

            /* 动态绑定数据源下拉框 */
            selectDynamic.render({
                el: "[name='dsId']"
                , url: "/datasourceconfig/codeitems"
                , label: "name"
                , value: "id"
            });


            form.on('submit(btnSave)', function (data) {
                var obj = {
                    name: objUtil.getThenRemove(data.field, "name")//data.field.name
                    , dsId: objUtil.getThenRemove(data.field, "dsId")//data.field.dsId
                    , path: objUtil.getThenRemove(data.field, "path")//data.field.path
                };
                // delete data.field.name;
                // delete data.field.dsId;
                // delete data.field.path;
                obj.config = JSON.stringify(data.field);

                http.post("/apiconfig", obj);

                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
</script>
</body>

</html>