<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>文件列表</title>
    <link rel="stylesheet" href="./layui/css/layui.css">
    <link rel="stylesheet" href="./layui-icon-extend/iconfont.css">
</head>
<body>

<blockquote class="layui-elem-quote layui-text">
    路径：
    <div class="layui-inline">
        <input class="layui-input" name="curpath" id="curpath" autocomplete="off" value="D:\" style="width:500px;">
    </div>
    <button class="layui-btn" id="jump">跳转</button>
    <button class="layui-btn" id="back">回到上级</button>
</blockquote>

<button type="button" class="layui-btn layui-btn-sm" id="upload" style="display: none">上传文件</button>
<table id="resources" lay-filter="resources"></table>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="upload">上传文件</button>
        <button class="layui-btn layui-btn-sm" lay-event="download">下载文件</button>
        <!--不提供批量删除的功能-->
        <!--<button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="delete">删除文件</button>-->
    </div>
</script>

<script type="text/html" id="tool">
    {{# if(!d.isdir){ }}
    <a class="layui-btn layui-btn-xs" lay-event="preview">预览</a>
    <a class="layui-btn layui-btn-xs" lay-event="path">获取路径</a>
    {{# }else{ }}
    <a class="layui-btn layui-btn-xs" lay-event="jump">进入目录</a>
    {{# } }}
    <a class="layui-btn layui-btn-xs" lay-event="rename">重命名</a>
    <a class="layui-btn layui-btn-xs" lay-event="download"
       href="/resources/download?path={{ encodeURIComponent(d.path) }}">下载</a>
    {{# if(!d.isdir){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
    {{# } }}
</script>

<script src="./layui/layui.js"></script>
<script>
    layui.use(["jquery", 'layer', 'table', "upload"], function () {
        var $ = layui.jquery
            , layer = layui.layer
            , upload = layui.upload
            , table = layui.table;

        var curpath = $("#curpath");

        upload.render({
            elem: "#upload"
            , accept: "file"
            , url: "/resources/upload"
            , method: "POST"
            , data: {path: curpath.val()}
            , multiple: true
            /* 2021年9月18日 自定义消息体 */
            , customMsg: ""
            , customSuccessful: 0
            , customAborted: 0
            , before: function (obj) {
                layer.load();
            }
            , done: function (res, index, upload) {
                var that = this;
                if (res.code === 1) {
                    that.customAborted++;
                    that.customMsg += res.msg + "<br/>";
                } else {
                    that.customSuccessful++;
                }
            }
            , error: function (index, upload) {
                that.customAborted++;
            }
            , allDone: function (obj) {
                var that = this;
                layer.closeAll('loading');
                var message = "上传总数：<font>" + obj.total + "</font>，成功数：<font>" + that.customSuccessful + "</font>，失败数：<font color='red'>" + that.customAborted + "</font>";
                if (that.customAborted > 0) {
                    message += "<br/>失败信息：<br/>" + that.customMsg;
                }
                layer.alert(message);
            }
        });

        table.render({
            elem: "#resources"
            , height: "full-100"
            , url: "/resources"
            , method: "POST"
            , contentType: 'application/json'
            , where: {path: curpath.val()}
            , toolbar: "#toolbar"
            , defaultToolbar: []
            , cols: [[
                {type: "checkbox"}
                , {
                    field: "name", title: "名称", width: 320, templet: function (d) {
                        var icon;
                        if (d.isdir) {
                            icon = "layui-icon-extend-wenjianjia";
                        } else {
                            // 获取文件后缀
                            var fileExtension = d.name.substring(d.name.lastIndexOf('.') + 1);
                            icon = "layui-icon-extend-" + fileExtension.toUpperCase();
                        }
                        return "<i class='layui-icon-extend " + icon + "'>    " + d.name + "</i>"
                    }
                }
                , {field: "length", title: "大小", width: 120, align: "center"}
                , {
                    field: "auth",
                    title: "权限",
                    width: 120,
                    align: "center",
                    templet: "<div><span style='color: blue;'>{{ d.auth }}</span></div>"
                }
                , {field: "lastmodified", title: "修改时间", width: 240, align: "center"}
                , {field: "path", title: "路径", hide: true}
                , {align: "center", toolbar: "#tool"}
            ]]
        });

        /* 监听头工具事件 */
        table.on("toolbar(resources)", function (obj) {
            if (obj.event === "upload") {
                $("#upload").click();
            } else if (obj.event === "download") {
                // 获取选中行数据
                var data = table.checkStatus("resources").data;
                if (data.length < 1) {
                    layer.alert("请选择要下载的文件", {icon: 2});
                } else {
                    var files = "";
                    $.each(data, function (index, item) {
                        files = files + "," + encodeURIComponent(item.name);
                    });
                    window.location.href = "/resources/multidownload?path=" + encodeURIComponent(curpath.val()) + "&files=" + files.substr(1);
                }
            } else if (obj.event === "delete") {
                layer.alert("尚未实现，敬请期待！", {icon: 2});
            }
        });

        /* 监听行工具事件 */
        table.on("tool(resources)", function (obj) {
            // 获取操作行数据
            var data = obj.data;
            if (obj.event === "preview") {
                layer.open({
                    type: 2,
                    area: ['700px', '450px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: 'preview.html?path=' + encodeURIComponent(data.path)
                });
            } else if (obj.event === "path") {
                layer.alert(data.path);
            } else if (obj.event === "jump") {
                curpath.val(data.path);
                reload();
            } else if (obj.event === "rename") {
                layer.prompt({
                    title: "重命名",
                    value: data.name
                }, function (newname, index) {
                    $.ajax({
                        url: "/resources/rename"
                        , method: "POST"
                        , contentType: "application/json"
                        , data: JSON.stringify({
                            path: data.path,
                            name: newname
                        })
                        , success: function (ret) {
                            layer.alert(ret.msg, {icon: ret.code + 1}, function (index2) {
                                layer.close(index2);
                                if (ret.code === 0) {
                                    layer.close(index);
                                    obj.update({
                                        name: newname
                                    });
                                }
                            });
                        }
                        , error: function (xhr, status) {
                            layer.alert(xhr.statusText, {icon: 2});
                        }
                    });
                });
            } else if (obj.event === "delete") {
                layer.confirm("确定删除" + data.name, function (index) {
                    layer.close(index);
                    $.ajax({
                        url: "/resources/delete"
                        , method: "POST"
                        , contentType: "application/json"
                        , data: JSON.stringify({
                            path: data.path
                        })
                        , success: function (ret) {
                            layer.alert(ret.msg, {icon: ret.code + 1}, function (index2) {
                                layer.close(index2);
                                if (ret.code === 0) {
                                    obj.del();
                                }
                            });
                        }
                        , error: function (xhr, status) {
                            layer.alert(xhr.statusText, {icon: 2});
                        }
                    });
                });
            }
        });

        $("#jump").on("click", function () {
            reload();
        });

        $("#back").on("click", function () {
            if (!curpath.val()) return;
            var path = JSON.stringify(curpath.val()).replaceAll("\\", "/");
            path = JSON.parse(path);
            var isEndFileSep = 0;
            // windows 系统的根目录
            if (path.endsWith("://") || path.endsWith(":/")) {
                return;
            }
            // linux 系统的根目录
            else if (path.startsWith("/") && path.endsWith("/")) {
                return;
            } else if (path.endsWith("//")) {
                path = path.substr(0, path.length - 2);
            } else if (path.endsWith("/")) {
                path = path.substr(0, path.length - 1);
            }

            if (path.lastIndexOf("/") === -1) return;

            var lastIndex = path.lastIndexOf("/");
            /*if (lastIndex > 0 && path[lastIndex - 1] === '/') {
                lastIndex = lastIndex - 1;
            }*/

            curpath.val(path.substr(0, lastIndex + 1));
            reload();
        });

        function reload() {
            var where = {}
            if (curpath.val()) {
                where.path = curpath.val();
            }
            table.reload("resources", {
                where: where
            });
        }
    });
</script>
</body>
</html>