<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layuimini-form">
    <div class="layui-form" lay-filter="record">
        <div class="layui-form-item">
            <label class="layui-form-label required" style="display: none;">ID</label>
            <div class="layui-input-block">
                <input type="text" name="id" disabled class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">xxx</label>
            <div class="layui-input-block">
                <input type="text" name="xxx" lay-verify="required" lay-reqtext="xxx不能为空" placeholder="请输入xxx"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
</div>
<script src="../../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="../../js/lay-config.js" charset="UTF-8"></script>
<script>
    layui.use(['form', "layer", "commonutil"], function () {
        var form = layui.form,
            layer = layui.layer,
            util = layui.commonutil,
            $ = layui.$;

        // 初始化
        $.ajax({
            url: "xxx" + layui.url().search["id"],
            type: "GET",
            success: function (res) {
                if (res.code === 0) {
                    form.val("record", res.data);
                } else {
                    layer.alert(res.msg, {icon: 2}, function (index) {
                        // 关闭弹出层
                        layer.close(index);

                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(iframeIndex);
                    });
                }
            }
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url: "xxx",
                type: "PUT",
                data: data.field,
                success: function (result) {
                    if (0 === result.code) {
                        layer.alert("保存成功", {icon: 1}, function (index) {
                            // 关闭弹出层
                            layer.close(index);

                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        });
                    } else {
                        layer.alert(result.msg, {icon: 2});
                    }
                }
            });

            return false;
        });

    });
</script>
</body>
</html>